.App {
  /*text-align: center;*/
   color: #333;
   border: 1px solid #aaa;
   border-radius: 4px;
   background:rgba(255,255,255,0.95);
   margin: 2em;
   padding: 0 1em;
   min-height: 20em;
   min-width: 32em;
   box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
}
.App > .todoList> li:nth-child(odd){
   background: #eee;
 }
 .App > .todoList> li:nth-child(even){
   background: transparent;
 }
 .App>h1{
   color: #999;
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(59,153,252);
 }
 .App h1>button{
    font-size: 30px;
    background: none;
    color: red;
    border: none;
    cursor: pointer;
    float: right;
}
.doneTitle{
  user-select: none;
  margin-top: 28px;
  border-bottom: 2px solid rgb(134,198,229);
  padding: 5px;
  text-align: left;
  color: rgb(134,198,229);
}
.completed .TodoItem{
  background: rgb(240,240,240);
}
.completed .TodoItem span{
  text-decoration: line-through;
}